extend layout 

block content
  h1= goal.goal
  p Created: #{goal.date_created}
  p Due: #{goal.due_date}
  p #{goal.status ? 'Completed' : 'Not completed'}

  form(action=`/goals/${goal._id}/delete` method="POST")
    button(type="submit" class="btn btn-danger") Delete


  a(href="/") Back to goals